#readerListbox {
    width: 300px;
}

.readerEditButton {
    width: 100%;
}

.gap-200px {
    width: 200px;
}

#dialogBackground {
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-box-orient: vertical;
}

#dialogBackground, #dialogBackground div {
    display: -webkit-box;
    -webkit-box-align: center;
}

#dialogBody {
    background-color: rgb(240, 240, 240);
    border: 2px solid #5296DE;
    border-radius: 6px;
    padding: 10px;
    -webkit-box-orient: vertical;
    width: 340px;
}

#dialogHeader {
    font-weight: bold;
    text-align: center;
}

#dialogBody input[type="button"] {
    height: 25px;
    width: 100px;
}

#dialogBody input[type="text"] {
    width: 220px;
}

.dialogRow {
    margin-left: -24px;
    width: 100%;
    -webkit-box-pack: end;
}

.dialogRow>* {
    margin: 2px
}

#urlAssist {
    width: 95%;
    margin-left: 24px;
}

#dialogContentFooter {
    text-align: center;
}