iframe {
  display: block;
  width: 100%;
}

.splitter {
  padding: 2px 8px 2px 5px;
  border-top: solid 1px #9CC2EF;
  background: #EBEFF9;
  font-weight: bold;
  display: block;
}

.feedUrlSpan {
  float: right;
}
